PORT=5000
MONGODB_URI=mongodb+srv://3dmetal:sahil9639@cluster0.qzt0i4t.mongodb.net/?appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
ADMIN_WHATSAPP_NUMBER=+917698163832
